//font face 
@font-face { font-family: 'Pretendard-Regular'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight: 400; font-style: normal;}
@font-face { font-family: 'PuradakGentleGothicR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal;}

//mixin
@mixin flexCenter {display: flex; justify-content: center; align-items: center;}
@mixin flexAlign {display: flex; align-items: center;}
@mixin flexJust { display: flex; justify-content: center;}
@mixin transCenter {transform: translate(-50%, -50%); top: 50%; left: 50%;}

@mixin content_bigP {font-size: 90px;}
@mixin content_span {font-family: 'RIDIBatang';}


/* rem control  */
html{font-size:18px; scroll-behavior: smooth;} 

* { margin: 0px; padding: 0px; box-sizing: border-box; } 
body { font-family: 'Pretendard-Regular'; /*overflow-x: hidden;*/} 
// ::-webkit-scrollbar { width: 15px; } 
// ::-webkit-scrollbar-thumb { background-color: #99D1E9; border: 3px solid transparent; } 
// ::-webkit-scrollbar-track { background-color: #fff; } 
ul { list-style: none; } 
a { color: #333; text-decoration: none; } 
p { color: #333; } 
img { width:100%; display: block; }
button{background:none; border:none;}

// common style 
.pc{display:block;}
.mo{display:none;}
.contentWrap p {@include content_bigP();}
.contentWrap span {@include content_span();}


// exploreNow 
.exploreNow {position: relative;}
.exploreNow img {width: 40%; margin: 0px auto;}
.exploreNow p {position: absolute; @include transCenter(); border-bottom: 5px solid #333;}
.exploreNow p span {font-weight: 100;}
