//font face 
@font-face { font-family: 'Pretendard-Regular'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight: 400; font-style: normal;}
@font-face { font-family: 'PuradakGentleGothicR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal;}


//mixin
@mixin flexCenter {display: flex; justify-content: center; align-items: center;}
@mixin flexAlign {display: flex; align-items: center;}
@mixin flexJust { display: flex; justify-content: center;}
@mixin transCenter {transform: translate(-50%, -50%); top: 50%; left: 50%;}
@mixin transTop {transform: translateY(-50%); top: 50%;}
@mixin transLeft {transform: translateX(-50%); left: 50%;}
@mixin content_positionTxt {position: absolute; bottom: 5%; left: 5%;}

@mixin content_h2 {font-size: 30px}
@mixin content_bigP {font-size: 66px;}
@mixin content_span {font-family: 'RIDIBatang';}


/* rem control  */
html{font-size:18px; scroll-behavior: smooth; overflow-x: hidden;} 

* { margin: 0px; padding: 0px; box-sizing: border-box; } 
body { font-family: 'Pretendard-Regular'; /*overflow-x: hidden;*/} 
// ::-webkit-scrollbar { width: 15px; } 
// ::-webkit-scrollbar-thumb { background-color: #99D1E9; border: 3px solid transparent; } 
// ::-webkit-scrollbar-track { background-color: #fff; } 
ul { list-style: none; } 
a { color: #333; text-decoration: none; } 
p { color: #333; } 
img { width: 100%; display: block; }
button{background:none; border:none;}


// common style 
.pc{display:block;}
.mo{display:none;}
.contentWrap {
    h2 {@include content_h2(); margin-bottom: 10px}
    span {@include content_span();}
}
.more {cursor: pointer; transition: 0.5s; color: #eee; border: 1px solid #eee; padding: 10px 30px; }
.more:hover {background-color: #eee; color: #333;}


// header 
header {width: 100%; position: fixed; top: 0px; left: 0px; transition: 0.5s; z-index: 99;
    nav {width: 1200px; margin: 0px auto; @include flexAlign(); justify-content: space-between; padding: 0px 20px;
        .menu_hover {width: 100%; height: 300px; position: absolute; background-color: #fff; left: 0px; @include flexJust(); top: 67px; transform: translateY(-123%); transition: 0.5s; z-index: -1;
            .menu_title {width: 200px; height: 100%; padding: 20px 0px; border-right: 1px solid #eee; 
                p {color: #D7172B; display: none;}
            }
            .menu_li {padding: 20px; display: flex; flex-direction: column; width: 400px; 
                li {margin-bottom: 10px; display: none;}
            }
            .menu_slide {width: 500px; padding: 20px; display: flex; flex-direction: column; justify-content: space-between;
                .single-item {width: 100%; position: relative;
                    .slick-arrow {display: none !important;}
                    .slick-dots {display: flex; width: 100%;}
                    .menu_dot_custom {@include flexCenter();
                        li {background-color: #ddd; border-radius : 50px; width: 10px; height: 10px; margin-top: 10px; cursor: pointer; margin-right: 5px; transition: 0.5s;}
                        li.slick-active { background-color: #333 !important;}
                        li:last-child {margin-right: 0px}
                    }
                }
            }
            .social_box { display: flex;
                a {display: block; margin-right: 10px; transition: 0.5s;
                    i {font-size: 24px;}
                }
                a:hover {color: #aaa}
            }
        }
        .menu_hover.open {transform: translateY(0%)}
        .logo_box {@include flexAlign();
            h1 {
                a {margin: 0px;
                    img {width: 200px;}
                }
            }
            .menu { display: flex; padding-left: 30px;
                li{
                    a{color: #eee; transition: 0.5s; font-weight: 800; padding: 20px; display: block;}
                    a::after {content: ""; width: 100%; margin-top: 5px; height: 2px; background-color: transparent; display: block; transition: 0.5s;}
                    a:hover:after{background-color: #333;}
                    a.change {color: #333}
                }
            }
        }
        .mobile_menu {width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; background-color: #fff; display: none;
            .mobile_nev {width: 100%; padding: 0px 20px; @include flexAlign(); justify-content: space-between;
                h1 {
                    a {margin: 0px;
                        img {width: 200px;}
                    }
                }
                .login_box {
                    .mo_X {font-size: 25px;}
                }
            }
            .mobile_ul {padding: 50px 20px; 
                li {margin-bottom: 20px; opacity: 0; transform: translateX(-25%); transition: 0.5s;
                    a {font-size: 23px; font-weight: 800;}
                }
                li.trans {opacity: 1; transform: translateX(0%);}
            }
            .social_box {position: absolute; bottom: 0px; left: 0px; width: 100%; border-top: 1px solid #333; transform: translateY(100%); transition: 0.5s;
                a{ transition: 0.5s;
                    i {padding: 20px 10px; font-size: 24px}
                    i:nth-of-type(1) {padding: 20px 10px 20px 20px}
                }
                a:hover {color: #aaa;}
            }
            .social_box.trans {transform: translateY(0%)}
        }
        .login_box {@include flexAlign();
            a {margin-left: 20px; color: #eee; 
                i {transition: 0.5s;}
                i.change {color: #333;}
            }
            a:hover i{color: #aaa;}
            .mo_i {display: none;}
            .mo_i.change {color: #333;}
        }
    }
}
header:hover {background-color: #fff;}
header:hover .logo_box .menu li a {color: #333;}
header:hover .login_box i {color: #333;}
header.change {background-color: #fff;}

// visual 
.visual {width: 100%; height: 100vh; overflow: hidden;
    .visual_background {background: url(./img/visual.jpg) center no-repeat; background-size: cover; width: 100%; height: 100%; position: relative;
        .main_txt {@include transCenter(); position: absolute; text-align: center; width: 100%;
            h2 {font-size: 66px; color: #eee;}
        }
        .scroll_box {position: absolute; @include transTop(); right: 5%; z-index: 5; @include flexAlign(); 
            .scroll_background {width: 3px; height: 150px; background-color: hsla(0,0%,100%,.4); position: relative; overflow: hidden;}
            .scroll_background::before {content: ""; position: absolute; top: 0px; width: 3px; height: 50%; background-color: #fff; animation: scroll_ani linear infinite 2s;}
            @keyframes scroll_ani {
                0%{top: 0%; opacity: 1;}
                50% {opacity: 1;}
                100%{top: 50%; opacity: 0;}
            }
            p {margin-left: 20px; color: #eee;}

        }
    }

}



// interiorType
.interiorType {width: 100%; height: 100vh; @include flexCenter(); position: relative; transition: 0.5s; transition-property: background-color; 
    .interiorType_txtBox {width: 80%; height: 80%; @include flexCenter(); flex-direction: column;
        p {@include content_bigP(); margin-bottom: 30px; font-weight: 800;}
        p:last-child {margin-bottom: 0px;}
    }
    .interiorType_interiorTxt {@include content_positionTxt(); display: none; opacity: 0; transition: 0.5;
        h2 {margin-bottom: 20px;}
        p:nth-of-type(1) {font-weight: 800; font-size: 20px; margin-bottom: 10px; font-family: 'PuradakGentleGothicR';}
        a {width: 250px; @include flexAlign(); justify-content: space-between; margin: 20px 0px; border-top: 1px solid #333; border-bottom: 1px solid #333; padding: 10px 0px;
            i {margin-right: 10px;}
        }
    }
    .interiorType_interiorTxt.opa {display: block; opacity: 1;}
    .type_wrap {position: absolute; top: 100%; right: 5%; z-index: 99; 
        .type_box { position: relative; margin-bottom: 200px;
            p {position: absolute; left: -55%; top: 25%; transform: rotate(-90deg); @include content_bigP(); font-family: 'PuradakGentleGothicR'; -webkit-text-stroke: 1px #333; color: #fff;}
            img {width: 400px;}
        }
        .type_box:last-child {margin-bottom: 0px;}
    }
}
.interiorType.back {background-color: #ECEBE7;}


// lifestyleDesign 
.lifestyleDesign {width: 100vw; height: 100vh; transform:translate(0px, -1px);
    .lifestyleDesign_wrap {width: 600vw; height: 100%; background-color: #fff; display: flex; position: relative; transition: 0.5s; transition-property: background-color; 
        .lifestyleDesign_box1 {width: calc(100%/6); height: 100%; padding-top: 5rem; display: flex; flex-direction: column; justify-content: flex-end;
            .lifestyleDesignCategory { width: 100vw; padding-left: 50px;
                button {border: 1px solid #333; padding: 10px 30px; transition: 0.5s; cursor: pointer;}
                button:hover {background-color: #333; color: #eee; }
            }
            .lifestyleDesign_title { width: 100vw; padding: 100px 0px 50px 50px; 
            p {@include content_bigP(); font-family: 'PuradakGentleGothicR';}
            span {font-size: 50px; font-family: 'Pretendard-Regular';}
            }
        }
        .lifestyleDesign_box2 {width: calc(100%/6);
            img {width: 100%; height: 100%; object-fit: cover;}
        }
        .lifestyleDesign_box3 {width: calc(100%/6); height: 100%; @include flexCenter(); flex-direction: column; 
            p {font-size: 40px; width: 100vw; text-align: center}
        }
        .lifestyleDesign_box4 {width: calc((100%/6)*2); @include flexAlign(); margin-left: 100px; 
            div {position: relative; margin-right: 50px; overflow: hidden; cursor: pointer;
                img {width: 330px; transition: 0.5s; filter: brightness(0.7)}
                p {@include content_positionTxt(); color: #eee;}
            }
            div:hover img{transform: scale(1.1); filter: brightness(1);}
        }
        .lifestyleDesign_box5 {width: calc(100%/6); height: 100%; @include flexCenter(); position: relative;
            .life_txt1 { @include transCenter(); transform: translate(-50%,-30%); position: absolute; width: 100%; opacity: 0;
                p {font-family: 'Pretendard-Regular'; margin: 20px 0px; font-size: 40px; text-align: center;
                    span {font-weight: 800; font-family: 'Pretendard-Regular';}
                }
            }
            .life_video {position: absolute; @include transCenter(); width: 100%; height: 100%; @include flexCenter(); opacity: 0;
                video {width: 80%; height: 80%; object-fit: cover;}
            }
            .life_txt2 {width: 100vw; @include flexAlign(); flex-direction: column; @include transCenter(); transform: translate(-50%,-30%); position: absolute; opacity: 0;
                p {@include content_bigP(); font-family: 'PuradakGentleGothicR';}
                a {border-bottom: 1px solid #333; padding-bottom: 5px; font-weight: 800;}
                a span {margin-left: 10px;}
            }
        }
    }
    .lifestyleDesign_wrap.back {background-color: #ECEBE7;}
}


// bestRemodeling
.bestRemodeling {padding: 5rem 0rem; width: 1200px; margin: 0px auto;
    .single-item  {@include flexJust(); margin-top: 20px; position: relative;
        .slick-arrow {display: none !important;}
        .dots_custom {display: flex; position: absolute; top: -5%; right: 0px;
            li {margin-left: 20px; cursor: pointer; color: #adadad; transition: 0.5s;}
            li.font {font-weight: 900 !important; color: #333 !important;}
            li.slick-active { font-weight: 800; color: #333 !important;}
        }
        .bestRemodeling_box {@include flexAlign(); justify-content: space-between; padding: 50px 0px;
            .bestRemodeling_flex {width: 51%; display: flex; flex-direction: column; align-items: flex-end;
                div {width: 100%; position: relative;
                    p {@include content_positionTxt(); color: #eee;}
                }
                div:nth-of-type(1) {width: 52.5%; margin-bottom: 2%;}
                div:nth-of-type(1) img {width: 100%;}
            }
            .bestRemodeling_big {width: 48%; position: relative;
                p {width: 48%; @include content_positionTxt(); color: #eee;}
            }
        }
        .bestRemodeling_box.revers {
            .bestRemodeling_flex {align-items: flex-start; flex-direction: column-reverse;
                img:nth-of-type(1) {margin-bottom: 0%; margin-top: 2%;}
            }
        }
    }
    .single-item {
        div {width: 100%; height: 100%;}
    }
}


// unchangeableValue
.unchangeableValue {width: 100%; position: relative;
    .unchangeableValue_con {position: absolute; @include transCenter(); color: #eee; @include flexCenter(); flex-direction: column; opacity: 0;
        h2 {margin-bottom: 20px;}
        p {color: #eee;}
        button {margin-top: 20px;}
    }
}
.unchangeableValue {width: 100%; height: 100vh;
    .valuePc {transform: scale(0.5); height: 100%; object-fit: cover;}
    img {width: 100%; }
}


// expertConsultation 
.expertConsultation {padding: 5rem 0rem; width: 1200px; margin: 0px auto;
    .expertConsultation_con {width: 100%; @include flexAlign(); justify-content: space-between;
        .expert_box {width: 31%; transition: 0.5s; border: 1px solid #eee; padding: 1.5rem 2rem; @include flexCenter(); flex-direction: column; box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%); margin-top: 50px;
            p {margin: 20px 0px 10px 0px; font-weight: 600;}
            a {font-size: 0.8rem; border-bottom: 1px solid #333;}
            a span {margin-left: 10px;}
        }
        .expert_box:hover {border: 1px solid #333;}
    }
}


// exploreNow 
.exploreNow {position: relative;
    img {width: 600px; margin: 0px auto;}
    a {position: absolute; font-weight: 900; @include transCenter(); @include content_bigP(); @include flexCenter(); border-bottom: 5px solid #333;
        span {font-weight: 100; margin-right: 20px;}
}
}



@media (max-width: 1250px) {
    header nav {width: 100%;}
    header nav .logo_box h1 a img {width: 200px;}
    header nav .logo_box .menu {display: none;}
    header:hover nav .login_box a::after {color: #333;}
    .login_box i {padding: 20px 0px;}
    .pc_i {display: none;}
    header nav .login_box .mo_i {display: block; color: #eee; transition: 0.5s;}
    header:hover nav .login_box .mo_i {color: #333;}
}
@media (max-width: 768px) {
    .pc {display: none;}
    .mo {display: block;}
    header nav .logo_box h1 a img {width: 150px;}
    header nav .mobile_menu .mobile_nev h1 a img {width: 150px;}
    header nav .mobile_menu .mobile_ul li a {font-size: 18px;}
}