@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PuradakGentleGothicR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* rem control  */
html {
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard-Regular"; /*overflow-x: hidden;*/
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  color: #333;
}

img {
  width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
}

.pc {
  display: block;
}

.mo {
  display: none;
}

.contentWrap h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.contentWrap span {
  font-family: "RIDIBatang";
}

.bestRemodeling {
  padding: 5rem 0rem;
  width: 1200px;
  margin: 0px auto;
}

.bestRemodeling .single-item {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.bestRemodeling .single-item div {
  width: 100%;
  height: 100%;
}

.bestRemodeling .single-item .slick-arrow {
  display: none !important;
}

.bestRemodeling .single-item .dots_custom {
  display: flex;
  position: absolute;
  top: -5%;
  right: 0px;
}

.bestRemodeling .single-item .dots_custom li {
  margin-left: 20px;
  cursor: pointer;
}

.bestRemodeling .single-item .dots_custom li.font {
  font-weight: 900 !important;
  color: #333 !important;
}

.bestRemodeling .single-item .dots_custom li.slick-active {
  font-weight: 800;
  color: #333 !important;
}

.bestRemodeling .single-item .bestRemodeling_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.bestRemodeling .single-item .bestRemodeling_box.revers .bestRemodeling_flex {
  align-items: flex-start;
  flex-direction: column-reverse;
}

.bestRemodeling .single-item .bestRemodeling_box.revers .bestRemodeling_flex img:nth-of-type(1) {
  margin-bottom: 0%;
  margin-top: 2%;
}

.bestRemodeling .single-item .bestRemodeling_box .bestRemodeling_flex {
  width: 51%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bestRemodeling .single-item .bestRemodeling_box .bestRemodeling_flex div {
  width: 100%;
  position: relative;
}

.bestRemodeling .single-item .bestRemodeling_box .bestRemodeling_flex div p {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #eee;
}

.bestRemodeling .single-item .bestRemodeling_box .bestRemodeling_flex div:nth-of-type(1) {
  width: 52.5%;
  margin-bottom: 2%;
}

.bestRemodeling .single-item .bestRemodeling_box .bestRemodeling_flex div:nth-of-type(1) img {
  width: 100%;
}

.bestRemodeling .single-item .bestRemodeling_box .bestRemodeling_big {
  width: 48%;
  position: relative;
}

.bestRemodeling .single-item .bestRemodeling_box .bestRemodeling_big p {
  width: 48%;
  position: absolute;
  left: 5%;
  bottom: 5%;
  color: #eee;
}

.unchangeableValue {
  width: 100%;
  position: relative;
}

.unchangeableValue img {
  width: 100%;
}

.unchangeableValue img {
  width: 100%;
}

.unchangeableValue .unchangeableValue_con {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.unchangeableValue .unchangeableValue_con h2 {
  margin-bottom: 20px;
}

.unchangeableValue .unchangeableValue_con p {
  color: #eee;
}

.unchangeableValue .unchangeableValue_con button {
  cursor: pointer;
  transition: 0.5s;
  color: #eee;
  border: 1px solid #eee;
  padding: 10px 30px;
  margin-top: 20px;
}

.unchangeableValue .unchangeableValue_con button:hover {
  background-color: #eee;
  color: #333;
}

.expertConsultation {
  padding: 5rem 0rem;
  width: 1200px;
  margin: 0px auto;
}

.expertConsultation .expertConsultation_con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expertConsultation .expertConsultation_con .expert_box {
  width: 31%;
  transition: 0.5s;
  border: 1px solid #eee;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.expertConsultation .expertConsultation_con .expert_box:hover {
  border: 1px solid #333;
}

.expertConsultation .expertConsultation_con .expert_box p {
  margin: 20px 0px 10px 0px;
  font-weight: 600;
}

.expertConsultation .expertConsultation_con .expert_box a {
  font-size: 0.8rem;
  border-bottom: 1px solid #333;
}

.expertConsultation .expertConsultation_con .expert_box a span {
  margin-left: 10px;
}

.exploreNow {
  position: relative;
}

.exploreNow img {
  width: 40%;
  margin: 0px auto;
}

.exploreNow a {
  position: absolute;
  font-weight: 900;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #333;
}

.exploreNow a span {
  font-weight: 100;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .pc {
    display: none;
  }
  .mo {
    display: block;
  }
}/*# sourceMappingURL=hanssem.css.map */