//font face 
@font-face { font-family: 'Pretendard-Regular'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight: 400; font-style: normal;}
@font-face { font-family: 'PuradakGentleGothicR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal;}


//mixin
@mixin flexCenter {display: flex; justify-content: center; align-items: center;}
@mixin flexAlign {display: flex; align-items: center;}
@mixin flexJust { display: flex; justify-content: center;}
@mixin transCenter {transform: translate(-50%, -50%); top: 50%; left: 50%;}
@mixin transTop {transform: translateY(-50%); top: 50%;}
@mixin transLeft {transform: translateX(-50%); left: 50%;}
@mixin content_positionTxt {position: absolute; bottom: 5%; left: 5%;}

@mixin content_h2 {font-size: 30px}
@mixin content_bigP {font-size: 90px;}
@mixin content_span {font-family: 'RIDIBatang';}



/* rem control  */
html{font-size:18px; scroll-behavior: smooth;} 

* { margin: 0px; padding: 0px; box-sizing: border-box; } 
body { font-family: 'Pretendard-Regular'; /*overflow-x: hidden;*/} 
// ::-webkit-scrollbar { width: 15px; } 
// ::-webkit-scrollbar-thumb { background-color: #99D1E9; border: 3px solid transparent; } 
// ::-webkit-scrollbar-track { background-color: #fff; } 
ul { list-style: none; } 
a { color: #333; text-decoration: none; } 
p { color: #333; } 
img { width: 100%; display: block; }
button{background:none; border:none;}


// common style 
.pc{display:block;}
.mo{display:none;}
.contentWrap {
    h2 {@include content_h2(); margin-bottom: 10px}
    span {@include content_span();}
}


// header 
header {width: 100%; position: fixed; top: 0px; left: 0px; 
    nav {width: 1200px; padding: 20px; margin: 0px auto; background-color: orange; @include flexAlign(); justify-content: space-between;
        .logo_box {@include flexAlign();
            h1 {
                a {margin: 0px;}
            }
            img {width: 200px;}
            a {margin-left: 50px; color: #eee; text-shadow: 0px 0px 10px #333;}
        }
        .login_box {display: flex;
            i {color: #eee;}
        }
    }
}

// visual 
.visual {width: 100%; height: 100vh;
    .visual_background {background: url(./img/visual.jpg) no-repeat; background-size: cover; width: 100%; height: 100%;}
}



// interiorType
.interiorType {width: 100%; height: 100vh; @include flexCenter(); position: relative;
    .interiorType_txtBox {width: 80%; height: 80%; @include flexCenter(); flex-direction: column;
        p {font-size: 100px; margin-bottom: 30px;}
        p:last-child {margin-bottom: 0px;}
    }
    .interiorType_interiorTxt {@include content_positionTxt(); display: none; opacity: 0; transition: 0.5;
        h2 {margin-bottom: 20px;}
        a {width: 250px; @include flexAlign(); justify-content: space-between; margin: 20px 0px; border-top: 1px solid #333; border-bottom: 1px solid #333; padding: 10px 0px;
            i {margin-right: 10px;}
        }
    }
    .interiorType_interiorTxt.opa {display: block; opacity: 1;}
    .type_wrap {position: absolute; top: 100%; right: 5%; z-index: 5;
        .type_box { position: relative; margin-bottom: 200px;
            p {position: absolute; left: -50%; bottom: 50%; transform: translate(-25%,50%) rotate(-90deg); font-size: 100px; font-family: 'PuradakGentleGothicR'; -webkit-text-stroke: 1px #333; color: #fff;}
            img {width: 400px;}
        }
    }
}


// lifestyleDesign 
.lifestyleDesign {width: 100vw; height: 100vh;
    .lifestyleDesign_wrap {height: 100%; background-color: #ECEBE7; display: flex; position: relative;
        .lifestyleDesign_box1 {height: 100%; padding-top: 5rem; display: flex; flex-direction: column; justify-content: flex-end;
            .lifestyleDesignCategory { width: 100vw; padding-left: 50px;
                button {border: 1px solid #333; padding: 10px 30px; transition: 0.5s; cursor: pointer;}
                button:hover {background-color: #333; color: #eee; }
            }
            .lifestyleDesign_title { width: 100vw; padding: 100px 0px 50px 50px; 
            p {font-size: 100px; font-family: 'PuradakGentleGothicR';}
            span {font-size: 50px; font-family: 'Pretendard-Regular';}
            }
        }
        .lifestyleDesign_box2 {
            img {height: 100%; width: auto;}
        }
        .lifestyleDesign_box3 { height: 100%; @include flexCenter(); flex-direction: column; border-right: 1px solid #333;
            p {font-size: 50px; width: 100vw; text-align: center}
        }
        .lifestyleDesign_box4 { @include flexAlign(); margin-left: 100px; 
            div {position: relative; margin-right: 50px;
                img {width: 350px;}
                p {@include content_positionTxt(); color: #eee;}
            }
        }
        .lifestyleDesign_box5 {height: 100%; @include flexCenter();
            div {width: 100vw; @include flexAlign(); flex-direction: column;
                p {font-size: 60px; font-family: 'PuradakGentleGothicR';}
                span {font-family: 'Pretendard-Regular'; margin: 20px 0px;}
                a {border-bottom: 1px solid #333; padding-bottom: 5px; font-weight: 800;}
                a span {margin-left: 10px;}
            }
        }
    }
}


// bestRemodeling
.bestRemodeling {padding: 5rem 0rem; width: 1200px; margin: 0px auto;
    .single-item  {@include flexJust(); margin-top: 20px; position: relative;
        .slick-arrow {display: none !important;}
        .dots_custom {display: flex; position: absolute; top: -5%; right: 0px;
            li {margin-left: 20px; cursor: pointer;}
            li.font {font-weight: 900 !important; color: #333 !important;}
            li.slick-active { font-weight: 800; color: #333 !important;}
        }
        .bestRemodeling_box {@include flexAlign(); justify-content: space-between; padding: 50px 0px;
            .bestRemodeling_flex {width: 51%; display: flex; flex-direction: column; align-items: flex-end;
                div {width: 100%; position: relative;
                    p {@include content_positionTxt(); color: #eee;}
                }
                div:nth-of-type(1) {width: 52.5%; margin-bottom: 2%;}
                div:nth-of-type(1) img {width: 100%;}
            }
            .bestRemodeling_big {width: 48%; position: relative;
                p {width: 48%; @include content_positionTxt(); color: #eee;}
            }
        }
        .bestRemodeling_box.revers {
            .bestRemodeling_flex {align-items: flex-start; flex-direction: column-reverse;
                img:nth-of-type(1) {margin-bottom: 0%; margin-top: 2%;}
            }
        }
    }
    .single-item {
        div {width: 100%; height: 100%;}
    }
}


// unchangeableValue
.unchangeableValue {width: 100%; position: relative;
    .unchangeableValue_con {position: absolute; @include transCenter(); color: #eee; @include flexCenter(); flex-direction: column;
        h2 {margin-bottom: 20px;}
        p {color: #eee;}
        button {cursor: pointer; transition: 0.5s; color: #eee; border: 1px solid #eee; padding: 10px 30px; margin-top: 20px;}
        button:hover {background-color: #eee; color: #333;}
    }
}
.unchangeableValue {
    img {width: 100%;}
}


// expertConsultation 
.expertConsultation {padding: 5rem 0rem; width: 1200px; margin: 0px auto;
    .expertConsultation_con {width: 100%; @include flexAlign(); justify-content: space-between;
        .expert_box {width: 31%; transition: 0.5s; border: 1px solid #eee; padding: 1.5rem 2rem; @include flexCenter(); flex-direction: column; box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%); margin-top: 50px;
            p {margin: 20px 0px 10px 0px; font-weight: 600;}
            a {font-size: 0.8rem; border-bottom: 1px solid #333;}
            a span {margin-left: 10px;}
        }
        .expert_box:hover {border: 1px solid #333;}
    }
}


// exploreNow 
.exploreNow {position: relative;
    img {width: 600px; margin: 0px auto;}
    a {position: absolute; font-weight: 900; @include transCenter(); @include content_bigP(); @include flexCenter(); border-bottom: 5px solid #333;
        span {font-weight: 100; margin-right: 20px;}
}
}



@media (max-width: 1250px) {
    
    
}
@media (max-width: 768px) {
    .pc {display: none;}
    .mo {display: block;}
    
}