//font face 
@font-face { font-family: 'HarmonyM'; src: url('../font/Harmony_M.ttf') format('truetype'); } 
@font-face { font-family: 'SUIT-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2'); font-weight: normal; font-style: normal; } 
@font-face {font-family: 'GmarketSansMedium';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');font-weight: normal;font-style: normal;}

//mixin
@mixin flexCenter {display: flex; justify-content: center; align-items: center;}
@mixin flexAlign {display: flex; align-items: center;}
@mixin flexJust { display: flex; justify-content: center;}
@mixin heading2 {color:#fff; font-weight:700; font-size:3rem;}
@mixin txtBox_h2 {font-size:1.8rem; font-weight: 800;}
@mixin txtBox_p {font-size: 1.2rem; font-weight: 700; color:#aaaaaa;}

/* rem control  */
html{font-size:18px; scroll-behavior: smooth;} 
* { margin: 0px; padding: 0px; box-sizing: border-box; } 
body { font-family: 'GmarketSansMedium'; overflow-x: hidden; } 
::-webkit-scrollbar { width: 15px; } 
::-webkit-scrollbar-thumb { background-color: #99D1E9; border: 3px solid transparent; } 
::-webkit-scrollbar-track { background-color: #fff; } 
ul { list-style: none; } 
a { color: #333; text-decoration: none; } 
img { width:100%; display: block; }
button{background:none; border:none;}

// common style 
.pc{display:block;}
.mo{display:none;}
.txtBox h2{@include txtBox_h2}
.txtBox p{@include txtBox_p}
h2{font-size:1.8rem;}
section{margin-bottom:200px;}


/* header */
.header { z-index: 99; width: 100%; font-family: 'HarmonyM'; position: fixed; top:0; height:100px; } 
.nav { width: 100%; padding: 1rem 8.11rem; margin: 0px auto; display: flex; justify-content: space-between; align-items: center; background-color: #fff; height: 100px; border-bottom: 1px solid #fff; } 
.pc-menu-back { animation: pcMenuBack 1s; transition: 1s; width: 100vw; height: 100vh; background-color: black; position: absolute; top: 0px; left: 0px; z-index: -1; opacity: 0.7; display: none; } 
@keyframes pcMenuBack { 
 0% { opacity: 0; } 100% { opacity: 0.7; } 
 } 
.pc-menu { font-family: 'GmarketSansMedium'; position: absolute; height: 100vh; width: 450px; z-index: 1; background-color: #fff; top: 0px; left: -450px; z-index: -1; padding: 100px 0px 0px 50px } 
.pc-menu .hover-menu a {margin-top: 10px; align-items: center; color: #333; transition: 0.5s; font-size: 25px; display: flex; justify-content: space-between; padding: 0px 20px 0px 0px; } 
.pc-menu .hover-menu a>i { opacity: 0; transition: 0.5s; } 
.pc-menu .hover-menu a:hover { color: #018CC7 } 
.pc-menu .hover-menu a:hover >i { opacity: 1; animation: pcMenu 1s linear infinite; } 
@keyframes pcMenu { 
 0% { margin-right: 20px; opacity: 0; } 100% { margin-right: 0px; opacity: 1; } 
 } 
.pc-menu .hover-menu img { width: 300px; } 
.pc-menu.on { transform: translateX(-100%); } 
.hover-menu { display: flex; flex-direction: column; justify-content: space-between;} 
.hoverA1 { width: 100%; } 
.hoverA1.mo { height: auto; justify-content: space-around; display: none;} 
.hoverA1.mo a:hover {color: #018CC7;}
.nav a { font-size: 20px; white-space: nowrap; } 
.nav.on { color: #333 !important; background-color: #fff !important; } 
.logo { width: 150px; } 
.logo img { width: 100%; } 
.menu { width: 50%; display: flex; justify-content: space-between; align-content: center; } 
.search { width: 12%; display: flex; justify-content: flex-end; align-items: center; } 
.search p { margin-right: 1.11rem; } 


// visual section 
.visual{padding-top:100px; position: relative; margin-bottom:0;}
.visual .subMenuList{padding:0 450px; border-bottom: 1px solid #fff; width:100%; position: absolute; top:13vw; @include flexAlign; justify-content: space-between;}
.visual .subMenuList .sub_menu a{font-size:20px; color:#fff; line-height:32px; transition: 0.5s;}
.visual .subMenuList .sub_menu:hover >a {color: #018CC7;}
.visual .subMenuList .sub_menu.active::after{display: block; content:''; width:100%; height:5px; background:#fff; transform:translateY(2.5px)}
.visual h2{position:absolute; top:65%; left:50%; transform:translate(-50%,-50%); @include heading2;}


// tabMenuList
.tabMenu {width:100%; height:80px;}
.tabMenu .tabMenuList{@include flexCenter();}
.tabMenu .tabMenuList .tab_menu{width:400px; height:80px; @include flexCenter(); font-size:20px; transition: 0.5s};
.tabMenu .tabMenuList .tab_menu:hover {background-color: #018CC7;}
.tabMenu .tabMenuList .tab_menu:hover >a {color: #fff;}
.tabMenu .tabMenuList .tab_menu a {transition: 0.5s;}
.tabMenu .tabMenuList .tab_menu.active{background:#018CC7;}
.tabMenu .tabMenuList .tab_menu.active a{color:#fff;}


// scene1 
.scene1{margin:144px 0 250px; @include flexJust();}
.scene1 .txtBox{padding :0px 3.25rem; flex:1;}
.scene1 .txtBox h2{margin-bottom:20px;}
.scene1 .imgBox{flex:1;}


// scene2 
.scene2 .sdgLists{display:flex; justify-content: center;}
.scene2 .sdgLists p {font-size: 1.2rem;}
.scene2 .sdgLists .sdgWrap{display:flex;}
.scene2 .sdgLists .sdgList{width:263px; margin-right:66px;}
.scene2 .sdgLists .sdgWrap:last-of-type .sdgList:last-of-type{margin-right:0;}
.scene2 .sdgLists .sdgList img{margin-bottom:31px;}
.scene2 .sdgLists .sdgList h4{margin-bottom:22px; font-size:1.3rem;}


// scene3 
.scene3 h2{text-align: center; margin-bottom:50px; font-size:1.8rem;}
.scene3 .contentBox{@include flexCenter;}
.scene3 .contentBox img{width:535px; margin-right:50px;}
.scene3 .contentBox .challenLists{width:600px; font-size: 1.2rem; border:1px solid #aaaaaa; padding:86px 46px; border-radius:80px;}
.scene3 .contentBox .challenList{margin-bottom:5px;}
.scene3 .contentBox .challenList:last-of-type{margin-bottom:0;}


// scene4 
.scene4 h2{text-align: center; margin-bottom:50px;}
.scene4 .contentBox img{width:1000px; margin:0 auto;}
.scene4 .toZeroWrap{@include flexCenter;}
.scene4 .toZeroWrap .toZeroLists{border-radius:50px; margin-right:20px; width: 300px; padding:53px 22px; border:1px solid #aaaaaa}
.scene4 .toZeroWrap .toZeroLists:last-of-type{margin-right:0;}
.scene4 .toZeroWrap .toZeroLists .toZeroList{font-size:1.2rem;}


// scene5 
.scene5{padding:0 300px; margin-bottom:0;}
.scene5 .policyWrap {padding:53px 0; border-top:2px solid #aaaaaa; display:flex; justify-content: space-between; align-items: center;}
.scene5 .policyWrap h4{font-size:1.8rem;}
.scene5 .policyWrap h4 img{width:24px; margin-bottom:10px}
.scene5 .policyWrap .policyListWrap ul{display: flex; justify-content: space-around;}
.scene5 .policyWrap .policyListWrap ul li{width:340px; font-size: 1.2rem; text-align: center; margin-right: 50px;}
.scene5 .policyWrap .policyListWrap ul li:last-of-type{margin-right:0;}
.scene5 .policyWrap .policyListWrap ul li .imgBox{@include flexCenter; margin:0 auto; margin-bottom:42px; width:210px; height:210px; background:#eeeeee; border-radius:50%;}
.scene5 .policyWrap .policyListWrap ul li .imgBox img{width:100px;}


/* footer */
.footer { width: 100%; position: relative; height: 14.66rem; border-top: 1px solid lightgray; text-align: center; margin-top: 50px; } 
.footer .i-box { margin: 0px; position: absolute; top: -50px; right: 0%; height: 50px; width: 50px; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer; } 
.footer a { font-size: 1rem; margin: 20px 10px; } 
.footer p { font-size: 1rem; } 
.footer-content { width: 100%; height: 100%; } 
.footer-logo { padding: 20px 20px 0px 20px; } 
.footer-logo div { width: 100%; padding: 10px 0px 0px 0px; } 
.footer-logo img { width: 20%; display: block; margin: 0px auto; max-width: 180px; padding: 10px 0px; } 
.footer-line-box { width: 100%; text-align: center; } 
.section5-icon { display: flex; justify-content: center; align-items: center; } 
.section5-icon i { font-size: 1.5rem; margin-right: 20px; } 
.section5-icon i:last-child { margin-right: 0px; } 

// pc only 
.fa-bars:before, .fa-navicon:before{display:none;}
@media screen and (max-width:1600px){
  .scene5{padding:0 10vw;}
}

@media screen and (max-width: 1400px){
  .visual .subMenuList{padding:0 250px;}
}

@media screen and (max-width: 1300px){
  .scene2 .sdgLists{display:block;}
  .scene2 .sdgLists .sdgWrap{justify-content: center;}
  .scene2 .sdgLists .sdgList:last-of-type{margin-right:0;}
  .scene2 .sdgLists .sdgList{margin-bottom:30px;}
  .scene3 .contentBox{display:block;}
  .scene3 .contentBox img{margin:0 auto; width:60%; margin-bottom:20px;}
  .scene3 .contentBox .challenLists{margin:0 auto;}
  .scene4 h2{margin-bottom:20px;}
  .scene5{padding:0 7vw;}
}

//  * 탭 사이즈 */
@media screen and (max-width: 1025px) { 
  html { font-size: 16px; } 
  .mo { display:flex; } 
  .pc { display:none; } 
  .header { height:55px; } 
  .nav { padding:1rem; height:55px; flex-direction: row-reverse; } 
  .hoverA1.mo { height: 55%; justify-content: space-between; display: flex; flex-direction: column; } 
  .search { flex-direction: row-reverse; } 
  .search i{font-size:25px; cursor:pointer;}
  .search i:nth-of-type(2){margin-right:10px;}
  .visual .subMenuList{padding:0 80px; top: 17vw;}
  section{margin-bottom:50px;}
  .scene3 .contentBox img{width:70%;}
  .scene4 .contentBox img{width:90%;}
  .scene4 .toZeroWrap{padding:0 20px;}
  .scene5 .policyWrap{display:block; padding-right:0;}
  .scene5 .policyWrap h4{margin-bottom:20px; font-size:1.8rem}
  .scene5 .policyWrap .policyListWrap ul{display:block;}
  .scene5 .policyWrap .policyListWrap ul li{margin: 0 auto 50px; width:50%;}
  .scene5 .policyWrap .policyListWrap ul li:last-of-type{margin:0 auto;}
  .scene5 .policyWrap .policyListWrap ul li .imgBox{width:40vw; height:40vw;}
  section{margin-bottom:100px;}
  .visual{padding-top:55px;}
  .settingClose{position:absolute; top:10px; right:10px; font-size:21px; cursor:pointer;}
  .fa-bars:before, .fa-navicon:before{display:block;}
  .scene1{margin:40px 0 100px;}
  .scene2 .sdgLists .sdgList h4{font-size:1.5rem;}
  .scene2 .txtBox{margin-bottom:120px;}
  .tabMenu .tabMenuList .tab_menu{height:55px;}
  .tabMenu .tabMenuList .tab_menu{flex:1;}
  .scene5{padding:0 4vw;}
}

@media screen and (max-width: 900px) { 
  html { font-size: 15px; } 
  .scene3 .contentBox .challenLists{width:430px; padding: 50px 25px; border-radius:30px;}
  .scene4 .toZeroWrap .toZeroLists{padding: 30px 15px; border-radius:20px;}
} 

@media screen and (max-width: 800px) { 
  html { font-size: 14px; } 
} 

@media screen and (max-width: 720px){
}

@media screen and (max-width: 700px) { 
  html { font-size: 13px; } 
  .visual .subMenuList .sub_menu a{font-size:13px;}
  .visual .subMenuList{padding:0 25px}
  .scene1{margin:80px 0;}
  .scene3 h2{top:35vw; margin-bottom:30px;}
  .scene2{margin-bottom:50px;}
  .scene2 .sdgLists .sdgWrap{display:block;}
  .scene2 .sdgLists .sdgList{margin:0 auto; margin-bottom:30px; width:55vw;}
  .scene2 .sdgLists .sdgList:last-of-type{margin:0 auto; margin-bottom:30px;}
  .scene2 .sdgLists .sdgWrap:last-of-type .sdgList:last-of-type{margin:0 auto;}
  .scene2 .sdgLists .sdgList p{font-size:1.2rem;}
  .scene5 .policyWrap .policyListWrap ul li{width:80%;}
  .scene2 .sdgLists .sdgList h4 {margin-bottom: 10px;}
} 

@media screen and (max-width: 650px){
  .scene4 .toZeroWrap{display:block;}
  .scene4 .contentBox img{margin-bottom:25px;}
  .scene4 .toZeroWrap .toZeroLists{margin:0 auto 20px; width:70%; padding:30px}
  .scene4 .toZeroWrap .toZeroLists:last-of-type{margin:0 auto;}
}

@media screen and (max-width: 600px) { 
  html { font-size: 12px; } 
  .scene1 .txtBox p{font-size:1.3rem;}
  .scene3 .contentBox .challenLists{padding: 30px;}
} 

@media screen and (max-width: 530px){
  .scene3 .contentBox .challenLists{width:80%;}
}

@media screen and (max-width: 500px) { 
  html { font-size: 11px; } 
  .visual h2{top:70%;}
  section{margin-bottom:40px;}
  .tabMenu{height:auto;}
  .tabMenu .tabMenuList .tab_menu{ text-align: center; height: 30px; font-size:14px;}
} 

/* 모바일사이즈 */
@media screen and (max-width: 480px) { 
  html { font-size: 10px; } 
  .scene4 .toZeroWrap .toZeroLists{width:80%;}
  .scene5 .policyWrap .policyListWrap ul li{width:100%;}
  .scene5{padding:30px}
}